<main >
  <h2>Results for <span class="firstCap">Users</span></h2>
  
  <section>
    <% users.forEach((user, idx) => { %>
      <p><%= user.name %>, <%= user.email %></p>
    <% }) %> 
  
  </section>
</main>