<h5>Welcome to our Antiques</h5>
<<<<<<< HEAD
<p>We have quality items, competitively priced, with a guarantee of authenticity!</p>
=======
<p>We have quality items, competitively priced, with a guarantee of authenticity!</p>>

<div>
  <img src="" alt="">
  <h3>Buy</h3>
  <p>lorem.....</p>
</div>
>>>>>>> submain
