<<<<<<< HEAD
<!-- <h1>Welcome to The Green Room!</h1> -->

<h5>Welcome to our Antiques</h5>
<p>We have quality items, competitively priced, with a guarantee of authenticity!</p>>
=======
<h5>Welcome to Our Antiques</h5>
<p>
  We offer quality items competitive priced with a guarantee of authenticity.
</ul>
>>>>>>> submain
