
<div class="container-fluid">
  <div class=row>
    <div class="col-sm-12">
      <h5>We love the odd, the one of a king, the dzzling, the unexplained. These are definitely not your grandma's antiques.</h5>
    </div>
  </div>
	<div class="row">
		<div class="col-sm-4">
      <div class="media">
          <img class="image" src="/images/shopping-bag.png" alt="shopping bag"></br>
          <p>Buy</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="media">
        <img class="image" src="/images/payment-method.png" alt="payment-method"></br>
          <p>Sell</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="media">
        <img class="image" src="/images/connection.png" alt="connect with us"></br>
          <p>Connect</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" id="bottom-div">
    </div>
  </div>
</div>
