<nav class="flex justifySpaceBetween">
  <a href="/" class="mxWidthSm">
    <!-- <img src="/images/happyTape.svg" alt="a smiling audio cassette" class="thumbnail"> -->
  </a>
  <ul class="flex justifySpaceBetween minWidthFifty noListDiscs">
    <% if (!currentUser) { %>
    <li><a href="/auth/signup">Sign Up</a></li>
    <li><a href="/auth/login">Login</a></li>
    <li><%- include('partials/search') %></li>
    <% } else { %>
    <!-- <li><a href="/favorites">Favorites</a></li> -->
    <li><%- include('partials/search') %></li>
    <li><a href="/auth/logout">Logout</a></li>
    <% } %>
  </ul>
</nav>