html {

  
  /* fallback font size: should be large enough for mobile screens */
  font-size: 18px;
  
  /* responsive font size --from CSS Tricks*/
  font-size: min(max(16px, 2vw), 24px);
  
  scroll-behavior: smooth;



  /* high emph dark text for light backgrounds */
  --darkColor: hsla(0, 0%, 0%, .87);
  /* high emph light text for dark backgrounds */
  --lightColor: #DADADA
  /* high emph light text for dark backgrounds */
  --mainColor: var(--lightColor);
  --light-grey: #494949;
  --rose: #c97f7f;
  --darkGreen: #132821;
  --lightGreen: #DDEBBC;
  --paleYellow: #E9E4AF;
  --green: #0D532E;
  --pink: #FFe7e7;

  /* background colors */
  --lightBg: #DADADA;
  --darkBg: #FFFFFF;
  /* primary background color */
  --mainBg: var(--lightBg);

  --bodyTxt: 'Noto Sans', 'Roboto', sans-serif;
  --displayTxt: 'Permanent Marker', sans-serif;

}


.Navbar {
  position: absolute;
  width: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px; 
  background-color: var(--rose);
  text-align: left !important;
}

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}